.one{
	height: 200px;
	width: 400px;
	background-color: green;
	margin: auto;
	position: relative;
	top: 0;
	right: 0;
	left: 0;

	margin: auto;
}
.two{
	background-color: red;
	height: 150px;
	width: 150px;
	margin: auto;
	border-radius: 50%;
	position:absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.four{
	padding-bottom: 100px;
	color: red;
	background-color: lime;
	text-align: justify;
	padding: 100px;
}
.five{
	position: sticky;
	top: 0;
	font-size: 100px;
	text-align: center;
	background-color: #000;
	color: white;
}